@*@model Mywebproject_core.Models.Mymodel.Candidates*@
@model IEnumerable<Mywebproject_core.Models.Mymodel.CandidateDetail>

        @{
            ViewData["Title"] = "Index";
        }

        <h2>Index</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.candidate_id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.party)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.candidate_id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.party)
                    </td>
                    @*<td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.CandidateDetail }) |
                            @Html.ActionLink("Details", "Details", new { id = item.CandidateDetail }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.CandidateDetail })
                        </td>*@
                </tr>
            }

        </table>
